/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: sans-serif;
}

canvas {
  border: 1px solid black;
}

#content {
  width: 900px;
  margin: auto;
  margin-top: 40px;
}

#header {
  background-color: black;
}
.logo {
  display: inline;
  color: white;
  font-weight:bolder;
  float: left;
  padding: 13px;
  font-size:2em; 
}

.debug {
  float: right;
}

#main-nav {
  width: 900px;
  margin:auto;
}


#main-nav ul li{
  display: inline-block;
  padding: 20px;
}

#main-nav a {
  text-decoration: none;
  color: white;
}